    <section class="custom-new-person">
      <h2>{{title}}</h2>
      <form class="form-group" (ngSubmit)="onSubmit()" #profileForm="ngForm">

        <fieldset class="form-group">
          <label for="fullname">Isim</label>
          <input type="text" class="form-control" id="fullname" autocomplete="user-fullname" required [readonly] = "edit ? null : true" [(ngModel)]="profile.fullname" name="fullname">
        </fieldset>

        <fieldset class="form-group">
          <label for="email">E-mail</label>
          <div class="input-group"><input type="email" class="form-control" id="email" autocomplete="user-email" pattern="[a-zA-Z0-9._%+-]+" required [readonly] = "edit ? null : true" [(ngModel)]="profile.email" name="email" title="Please provide only a GTU email address"><span class="input-group-addon">@gtu.edu.tr</span></div>
        </fieldset>

        <fieldset class="form-group">
          <label for="office">Oda No</label>
          <input type="string" class="form-control" id="office" autocomplete="user-office" required [readonly] = "edit ? null : true" [(ngModel)]="profile.office" name="office">
        </fieldset>

        <fieldset class="form-group">
          <label for="phone">Telefon (Dahili)</label>
          <input type="string" class="form-control" id="phone" autocomplete="user-phone" pattern="[0-9]{4}" required [readonly] = "edit ? null : true" [(ngModel)]="profile.phone" name="phone">
        </fieldset>

        <fieldset class="form-group">
          <label for="mobile">Telefon (Cep)</label>
          <input type="phone" class="form-control" id="mobile" autocomplete="user-tel" pattern="[0-9 ]{11,14}" [readonly] = "edit ? null : true" [(ngModel)]="profile.mobile" name="mobile">
        </fieldset>

        <fieldset class="btn-group">
          <button type="button" class="btn btn-default" name="cancel" (click)="returnBackToInfinity()">İptal</button>
          <button type="button" class="btn btn-primary" name="save" [disabled]="!profileForm.form.valid" (click)="savePerson()">Kaydet</button>
        </fieldset>
      </form>
    </section>