@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body {
  font-family: Roboto, Arial, sans-serif;
}

header {
  min-height: 34px;
  padding: 8px 24px 0;
  display: flex;
}

main {
  max-width: 57rem;
  margin: auto;
}

.wrapper {
  /*max-width: 960px;*/
  position: absolute;
  top: 70px;
  left: 0;
  right: 0;
}

.table-header {
  min-height: 34px;
  padding: 8px 24px 0;
  display: flex;
}

.mat-table {
  width: 100%;
}

.toolbar-title {
  padding-left: 5px;
}

.mat-column-no {
  flex: 0 0 50px;
}

.fill-remaining-space {
  flex: 1 1 auto;
}

.new-person {
  display: flex;
  flex-direction: column;
}

.new-person > * {
  width: 40%;
  margin: auto;
}

.add-button {
  align-self: center;
}

.button-row {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.form-row {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.table-highlight {
  background: #42A948; /* green */
}

.no-padding {
  padding: 0!important;
}

.mat-input-element:disabled {
  color: inherit;
}

.toolbar-child{
  height: 40px!important;
}

.toolbar-child .toolbar-header {
  font-size: 14px!important;
  padding-left: 5px;
}

.date-align {
  margin-top: 5px;
}

.mat-vertical-stepper-header{
    pointer-events: none !important;
}
/*
.element-row {
  position: relative;
}

.element-row:not(.expanded) {
  cursor: pointer;
}

.element-row:not(.expanded):hover {
  background: #f5f5f5;
}

.element-row.expanded {
  border-bottom-color: transparent;
} */

.checkbox-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.mat-spinner {
  margin: auto;
}

.mat-column-position {
  max-width: 15%;
}

.mat-column-office {
  max-width: 10%;
}

.mat-column-phone {
  max-width: 10%;
}

.mat-column-load {
  max-width: 10%;
}

.mat-column-email {
  min-width: 25%;
}

tr.mat-row:hover {
  background: #f5f5f5;
}

/*
.navbar-right-custom {
  margin-right: 10px!important;
}

.midbar-custom {
  margin-top: 25px!important;
  margin-bottom: 15px!important;
}

.header-custom {
  margin-top: 25px;
  margin-bottom: 40px;
}

.title-custom {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 15px;
  margin-left: 5px;
  float: left;
}

.ng-valid[required]:not([readonly]), .ng-valid.required  {
  border-left: 5px solid #42A948; // green
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; // red
}*/

/*
@media screen and (max-width: 960px) {
  .mat-table {
    border: 0;
    vertical-align: middle
  }

  .mat-table caption {
    font-size: 1em;
  }

  .mat-table .mat-header-row .mat-row {
    border-bottom: 5px solid #ddd;
    display: block;
    padding: 0 24px;
  }

  .mat-table .mat-row:nth-child(even) {background: #CCC}
  .mat-table .mat-row:nth-child(odd) {background: #FFF}

  .mat-table .mat-cell {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 1em;
    text-align: right;
    font-weight: normal;
    height:30px;
    margin-bottom: 4%;
  }
 .mat-table .mat-cell:before {

    content: attr(data-label);
    float: left;
    text-transform: uppercase;
    font-weight: normal;

    font-size: .85em;
  }
  .mat-table .mat-cell:last-child {
    border-bottom: 0;
  }
  .mat-table .mat-cell:first-child {
    margin-top: 4%;
  }
}*/