/* You can add global styles to this file, and also import other style files */
body {
  max-width: 960px;
  margin: auto;
}

.navbar-right-custom {
  margin-right: 10px!important;
}

.midbar-custom {
  margin-top: 25px!important;
  margin-bottom: 15px!important;
}