/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
  max-width: 960px;
  margin: auto;
  font-family: Roboto, Arial, sans-serif;
}

<header> {
  min-height: 34px;
  padding: 8px 24px 0;
  display: flex;
}

.table-header {
  min-height: 34px;
  padding: 8px 24px 0;
  display: flex;
}

.mat-column-no {
  flex: 0 0 50px;
}

.fill-remaining-space {
  flex: 1 1 auto;
}

.new-person {
  display: flex;
  flex-direction: column;
}

.new-person > * {
  width: 40%;
  margin: auto;
}

.button-row {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

/*
.navbar-right-custom {
  margin-right: 10px!important;
}

.midbar-custom {
  margin-top: 25px!important;
  margin-bottom: 15px!important;
}

.header-custom {
  margin-top: 25px;
  margin-bottom: 40px;
}

.title-custom {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 15px;
  margin-left: 5px;
  float: left;
}

.ng-valid[required]:not([readonly]), .ng-valid.required  {
  border-left: 5px solid #42A948; // green
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; // red
}*/
