    <section class="custom-new-gorev">
      <h2>{{title}}</h2>
      <form class="form-group" [formGroup]="gorevForm" (ngSubmit)="onSubmit()">

        <fieldset class="form-group">
          <label for="title">Görev Adı</label>
          <input type="text" class="form-control" placeholder="Ornek: ELM 000 vize gozetmenligi" formControlName="title">
        </fieldset>
        <div class="error"
          *ngIf="gorevForm.get('title').hasError('required') && gorevForm.get('title').touched">
          Name is required
        </div>
        <fieldset class="form-group">
          <label for="type">Görev Türü</label>
          <select class="form-control" formControlName="type">
            <option *ngFor="let pos of positions" [value]="pos">{{pos}}</option>
          </select>
        </fieldset>

        <div formGroupName="time">
          <fieldset class="form-group">
            <label for="startDate">Start Date</label>
            <input type="date" formControlName="startDate">
          </fieldset>

          <fieldset class="form-group">
            <label for="endDate">End Date</label>
            <input type="date" formControlName="endDate">
          </fieldset>

          <fieldset class="form-group">
            <label for="startTime">Start Time</label>
            <input type="time" formControlName="startTime">
          </fieldset>

          <fieldset class="form-group">
            <label for="timeEnd">End Time</label>
            <input type="time" formControlName="endTime">
          </fieldset>
        </div>

        <fieldset class="form-group">
          <label for="num">Kisi sayisi</label>
          <input type="string" class="form-control" formControlName="peopleCount">
        </fieldset>

        <!--<fieldset class="form-group" *ngFor="let address of secretLairs.controls; let i=index" [formGroupName]="i" >-->
        <fieldset >
          <label for="type">Gorevlendirilecek Kişi</label>
          <select class="form-control" formControlName="choosenPeople">
            <option *ngFor="let person of available" [value]="person._id">{{person.fullname}}</option>
          </select>
        </fieldset>

        <fieldset class="btn-group">
          <button type="button" class="btn btn-default" (click)="returnBackToInfinity()">İptal</button>
          <button type="submit" class="btn btn-primary" [disabled]="gorevForm.valid">Kaydet</button>
        </fieldset>
      </form>
    </section>

    {{msg}}

    {{ diagnostic }}
    <p>gorevForm value: {{ gorevForm.value | json}}</p>
    <p>gorevForm status: {{ gorevForm.status | json }}</p>