<!-- <mat-card class="login">
	<mat-card-header>
	  <mat-card-title>Lütfen kullanıcı girişi yapınız</mat-card-title>
	</mat-card-header>
	<mat-card-content class="login">
		<form>
			<div class="form-row">
				<mat-form-field style="width:100%">
					<input matInput placeholder="email" [(ngModel)]="email" name="email" required>
				</mat-form-field>

			</div>
			<div class="form-row">
				<mat-form-field style="width:100%">
					<input matInput placeholder="şifre" [(ngModel)]="password" type="password" name="password" required>
				</mat-form-field>
			</div>
		</form>
		<mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
	</mat-card-content>
	<mat-card-actions>
		<button mat-raised-button (click)="login()" color="primary">Giriş</button>
	</mat-card-actions>
  </mat-card> -->