<section [formGroup]="busyForm">
	<mat-form-field style="width:100%">
		<input matInput formControlName="description" placeholder="Başlık Ekle">
	</mat-form-field>

<div class="form-row">

	<mat-form-field class="date-align" style="width:45%">
		<input matInput formControlName="startday" (dateInput)="updateDay($event)"
		[matDatepicker]="startday" placeholder="Başlangıç">
		<mat-datepicker-toggle matSuffix [for]="startday"></mat-datepicker-toggle>
		<mat-datepicker #startday></mat-datepicker>
	</mat-form-field>


	<mat-form-field class="date-align" style="width:45%">
		<input matInput formControlName="endday" [matDatepicker]="endday" placeholder="Bitiş">
		<mat-datepicker-toggle matSuffix [for]="endday"></mat-datepicker-toggle>
		<mat-datepicker #endday></mat-datepicker>
	</mat-form-field>

</div>

<div class="form-row">

	<mat-form-field style="width:45%">
		<input matInput formControlName="starttime" type="time">
	</mat-form-field>

	<mat-form-field style="width:45%">
		<input matInput formControlName="endtime" type="time">
	</mat-form-field>
</div>

<div class="form-row">

	<mat-form-field style="width:45%">
		<mat-select formControlName="recur" placeholder="Tekrar">
			<mat-option *ngFor="let rep of repeats; let i = index" [value]="tor[i]">{{[rep]}}</mat-option>
		</mat-select>
	</mat-form-field>
</div>

<div class="button-row">
	<mat-dialog-actions>
		<button mat-raised-button color="warn" (click)="onNoClick()">İptal</button>
		<button mat-raised-button color="primary" (click)="onSubmit()"
		[disabled]="!busyForm.valid || !formValid">Kaydet</button>
	</mat-dialog-actions>
</div>

</section>
