  <nav class="navbar navbar-default">
    <ul class="nav navbar-nav">
      <li><a class="nav-link" routerLink="" routerLinkActive="active">Home</a></li>
      <li><a class="nav-link" routerLink="kadro" routerLinkActive="active">Kadro</a></li>
      <li><a class="nav-link" routerLink="angarya" routerLinkActive="active">Görevler</a></li>
    </ul>
    <button type="button" class="btn btn-default navbar-btn navbar-right navbar-right-custom">Sign out</button>
    <button type="button" class="btn btn-default navbar-btn navbar-right navbar-right-custom">Sign in</button>
    <button type="button" class="btn btn-default navbar-btn navbar-right navbar-right-custom"><span class="glyphicon glyphicon-user"></span></button>
  </nav>

  <router-outlet></router-outlet>
