  <mat-toolbar class="toolbar" color="primary">
    <mat-toolbar-row class="toolbar-row">
      <button mat-button routerLink="" routerLinkActive="active">Home</button>
      <button mat-button routerLink="kadro" routerLinkActive="active">Kadro</button>
      <button mat-button routerLink="angarya" routerLinkActive="active">Görevler</button>

      <span class="fill-remaining-space"></span>

      <button mat-button>Sign out</button>
      <button mat-button>Sign in</button>
      <span matTooltip="Profile"><button mat-icon-button>
      <mat-icon>person</mat-icon></button></span>

    </mat-toolbar-row>
  </mat-toolbar>

<div class="wrapper">
  <router-outlet></router-outlet>
</div>