<div class="container"> <!-- container -->
  <h1>List of people</h1>
  <hr>
  <h2>PEOPLE</h2>

  <div class="col-md-7"> <!-- list -->
    <div class="row" *ngFor="let person of people; let i = index"> <!-- row -->
      <div class="col-md-4">
        {{i}}
      </div>
      <div class="col-md-3">
        {{person.fullname}}
      </div>
      <div class="col-md-3">
        {{person.phone}}
      </div>
      <div class="col-md-3">
        {{person.email}}
      </div>
      <div class="col-md-2">
        <input type="button" class="btn btn-success" name="details" value="Details" (click)="showDetails(i)" />
      </div>
      <br />
      <br />
    </div> <!-- /row -->
  </div> <!-- /list -->

  <input type="button" class="btn btn-info" value="Add new person" (click)="modal1.show()" />

  <adder #modal1>
    <div class="adder-header">
      <h2>Kişi Oluştur</h2>
    </div>
    <div class="adder-body">
      <form class="form-horizontal">
        <div class="form-group">
          <div class="col-md-2">
            <label>Isim</label>
          </div>
          <div class="col-md-5">
            <input type="text" placeholder="Furkan Cayci" class="form-control" name="fullname" [(ngModel)]="fullname" required>
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-2">
            <label>email</label>
          </div>
          <div class="col-md-5">
            <input type="text" placeholder="furkancayci@gtu.edu.tr" class="form-control" name="email" [(ngModel)]="email" required>
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-2">
            <label>Oda No</label>
          </div>
          <div class="col-md-3">
            <input type="text" placeholder="248" class="form-control" name="office" [(ngModel)]="office" required>
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-2">
            <label>Telefon (Dahili)</label>
          </div>
          <div class="col-md-3">
            <input type="string"  placeholder="3242" class="form-control" name="phone" [(ngModel)]="phone" required>
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-2">
            <label>Telefon (Cep)</label>
          </div>
          <div class="col-md-3">
            <input type="text" placeholder="0543 987 6543" class="form-control" name="mobile" [(ngModel)]="mobile" required>
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-2">
            <label>Oda No</label>
          </div>
          <div class="col-md-3">
            <input type="text" placeholder="248" class="form-control" name="office" [(ngModel)]="office" required>
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-2">
            <label>Telefon (Dahili)</label>
          </div>
          <div class="col-md-3">
            <input type="string"  placeholder="3242" class="form-control" name="phone" [(ngModel)]="phone" required>
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-2">
            <label>Telefon (Cep)</label>
          </div>
          <div class="col-md-3">
            <input type="text" placeholder="0543 987 6543" class="form-control" name="mobile" [(ngModel)]="mobile" required>
          </div>
        </div>

      </form>
    </div>
    <div class="adder-footer">
      <button type="button" class="btn btn-default" (click)="modal1.hide()">Close</button>
      <button type="button" class="btn btn-default" (click)="modal2.show()">Show modal 2</button>
      <button type="button" class="btn btn-primary">Save changes</button>
    </div>
  </adder>

</div> <!-- /container -->