.navbar {
	min-height: 52px!important;
	height: 52px!important;
	position: fixed;
	transform: translate3d(0, 0, 0);
	-webkit-transform: translate3d(0, 0, 0);
	top: 0;
	left: 0;
	right: 0;
	z-index: 2;
	border-radius: 0;
	font-size: 16px;
}

.navbar-row {
	max-width: 1056px;
	padding: 0 16px;
	margin: auto;
}