.title-custom {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 15px;
  margin-left: 5px;
  float: left;
}

.header-custom {
  margin-top: 25px;
  margin-bottom: 40px;
}

.ng-valid[required]:not([readonly]), .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}
