      <table class="table table-hover">
        <caption class="btn-toolbar" role="toolbar">
          <h4 class="title-custom">Meşgul Zamanlar <span class="badge">{{busy?.length}}</span></h4>
          <button *ngIf="edit" type="button" class="label label-success navbar-right navbar-right-custom" (click)="show()"><span class="glyphicon glyphicon-plus"></span> meşguliyet ekle</button>
        </caption>

        <thead>
          <tr>
            <th>#</th>
            <th>Gun Baslangic</th>
            <th>Gun Bitis</th>
            <th>Saat Baslangic</th>
            <th>Saat Bitis</th>
            <th>Sure (Saat)</th>
            <th>Tekrar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let busy of busydb; let i = index">
            <td>{{i + 1}}</td>
            <td>{{busy.startDate | date: "EE, d MMMM"}}</td>
            <td>{{busy.endDate | date: "dd/MM"}}</td>
            <td>{{busy.startDate | date: "HH:mm"}}</td>
            <td>{{busy.endDate | date: "HH:mm"}}</td>
            <td></td>
          </tr>
        </tbody>
      </table>

      <!-- {{ diagnostic }} -->
