<div class="container" *ngIf="kisi && fullname">
  <h2>{{ fullname }} Bilgi {{kisi._id}}</h2>
  <form class="form-group" style="max-width:250px;">
    <fieldset class="form-group">
      <label for="fullname">Isim</label>
      <input type="text" class="form-control" id="fullname" autocomplete="user-fullname" required [readonly] = "edit ? null : true" [(ngModel)]="kisi.fullname" name="fullname">
    </fieldset>

    <fieldset class="form-group">
      <label for="email">E-mail</label>
      <div class="input-group"><input type="email" class="form-control" id="email" autocomplete="user-email" autocomplete="user-email" required [readonly] = "edit ? null : true" [(ngModel)]="kisi.email" name="email" title="Please provide only a GTU email address"><span class="input-group-addon">@gtu.edu.tr</span></div>
    </fieldset>

    <fieldset class="form-group">
      <label for="office">Oda No</label>
      <input type="number" class="form-control" id="office" autocomplete="user-office" required [readonly] = "edit ? null : true" [(ngModel)]="kisi.office" name="office">
    </fieldset>

    <fieldset class="form-group">
      <label for="phone">Telefon (Dahili)</label>
      <input type="string" class="form-control" id="phone" autocomplete="user-phone" required [readonly] = "edit ? null : true" [(ngModel)]="kisi.phone" name="phone">
    </fieldset>

    <fieldset class="form-group">
      <label for="mobile">Telefon (Cep)</label>
      <input type="phone" class="form-control" id="mobile" autocomplete="user-tel" [readonly] = "edit ? null : true" [(ngModel)]="kisi.mobile" name="mobile">
    </fieldset>

    <aside class="form-group float-sm-right">
      <button *ngIf="!edit" type="button" class="btn btn-default" (click)="goBack()">Geri Dön</button>
      <button *ngIf="!edit" type="button" class="btn btn-primary" (click)="showEdit()">Düzenle</button>
      <button *ngIf="edit" type="button" class="btn btn-danger" (click)="resetPerson()">İptal</button>
      <button *ngIf="edit" type="button" class="btn btn-success" (click)="updatePerson()">Kaydet</button>
    </aside>
  </form>
</div>
