<mat-spinner *ngIf="!dataSource"></mat-spinner>

<section *ngIf="dataSource">
  <div class="mat-elevation-z8">
    <mat-toolbar color="primary">
      <mat-toolbar-row>
      <mat-icon>assignment</mat-icon>  <h2 style="padding-left:5px;">Görev Listesi</h2>
      </mat-toolbar-row>
    </mat-toolbar>

    <div class="table-header">
      <mat-form-field style="width:50%">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Ara">
      </mat-form-field>
      <span class="fill-remaining-space"></span>
      <span matTooltip="Yeni Görev Ekle"><button class="add-button" mat-fab color="warn" routerLink="/gorevekle"><mat-icon>note_add</mat-icon></button></span>
    </div>

    <mat-table #table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="no">
        <mat-header-cell *matHeaderCellDef>No.</mat-header-cell>
        <mat-cell *matCellDef="let row; let i = index">{{i+1}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="title">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Başlık</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.title}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="type">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Tür</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.type}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="date">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Tarih</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.startDate | date: "dd MMMM EEEE": '': 'tr'}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="time">
        <mat-header-cell *matHeaderCellDef>Saat</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.startDate | date: "HH:mm"}} - {{row.endDate | date: "HH:mm"}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="people">
        <mat-header-cell *matHeaderCellDef>Kişi Sayısı</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.peopleCount}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef>Durum</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.status}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="expandedDetail">
        <mat-cell style="display:flex" *matCellDef="let detail">
          <mat-chip-list>
            <mat-chip *ngFor="let pid of detail.gorev.choosenPeople">
              {{getPerson(pid)}}
            </mat-chip>
          </mat-chip-list>
                <span class="fill-remaining-space"></span>
          <mat-chip-list style="float:right">
            <mat-chip color="warn" selected="true" (click)="onDetail(detail.gorev)">Detaylar</mat-chip>
          </mat-chip-list>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

      <mat-row *matRowDef="let row; columns: displayedColumns;"
        matRipple
        class="element-row"
        [class.expanded]="expandedElement == row"
        (click)="expandedElement = row">
      </mat-row>
      <mat-row *matRowDef="let row; columns: ['expandedDetail']; when: isExpansionDetailRow"
        [@detailExpand]="row.gorev == expandedElement ? 'expanded' : 'collapsed'"
        style="overflow: hidden">
      </mat-row>
    </mat-table>

    <mat-paginator #paginator
      [pageSize]="50"
      [pageSizeOptions]="[10, 25, 50]">
    </mat-paginator>

  </div>
</section>
