<mat-spinner *ngIf="!gorev"></mat-spinner>

<mat-card class="no-padding">
  <div *ngIf="gorev" class="mat-elevation-z8">
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <mat-icon>description</mat-icon>  <h2 style="padding-left:5px; margin-right:15px">{{ title }}</h2>
        <button *ngIf="gorevForm.disabled"  style="margin-left:15px;" mat-mini-fab name="edit" color="" (click)="enableGroup()"><span matTooltip="Görevi Düzenle"><mat-icon>edit</mat-icon></span></button>
        <button *ngIf="!gorevForm.disabled" style="margin-left:15px;" mat-mini-fab name="cancel" color="" (click)="onCancel()"><span matTooltip="Iptal"><mat-icon>cancel</mat-icon></span></button>
        <button *ngIf="!gorevForm.disabled" style="margin-left:15px;" mat-mini-fab name="delete" color="warn" (click)="onDelete()"><span matTooltip="Görevi Sil"><mat-icon>delete_forever</mat-icon></span></button>
        <button *ngIf="!gorevForm.disabled" style="margin-left:15px;background-color:cornflowerblue;color:white;" mat-mini-fab name="save" color="" (click)="onSave()"><span matTooltip="Kaydet"><mat-icon>save</mat-icon></span></button>
        <span class="fill-remaining-space"></span>
        <button *ngIf="isExpired()" style="margin-left:15px;background-color:lightgreen;color:grey;" mat-mini-fab name="finalize" color="" (click)="onFinalize()"><span matTooltip="Görevi Sonlandir"><mat-icon>done</mat-icon></span></button>
      </mat-toolbar-row>
    </mat-toolbar>

    <mat-card-content style="padding:24px;" [formGroup]="gorevForm">
      <div style="display:flex">
        <div style="width:55%">
            <div class="form-row">
              <mat-form-field  style="width:40%">
                <input matInput formControlName="title" placeholder="Görev Adı">
              </mat-form-field>

              <mat-form-field  style="width:35%">
                <mat-select formControlName="type" placeholder="Görev Türü">
                  <mat-option *ngFor="let t of types" [value]="t">{{[t]}}</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field style="width:20%">
                <span matTooltip="Varsayılanı 1'dir. Görev süresiyle çarpılır.">
                  <mat-select formControlName="weight" placeholder="Ağırlık">
                    <mat-option *ngFor="let n of weights" [value]="n">{{[n]}}</mat-option>
                  </mat-select></span>
                <mat-hint align="end">Görev ağırlığı</mat-hint>
              </mat-form-field>
            </div>
          <div formGroupName="when">
            <div class="form-row">
              <mat-form-field class="date-align" style="width:35%">
                <input matInput formControlName="gDate" [matDatepicker]="gDate" placeholder="Tarih Sec">
                <mat-datepicker-toggle matSuffix [for]="gDate"></mat-datepicker-toggle>
                <mat-datepicker #gDate></mat-datepicker>
              </mat-form-field>

              <mat-form-field style="width:25%">
                <input matInput formControlName="startTime" type="time" placeholder="Başlangıç Saati">
              </mat-form-field>

              <mat-form-field style="width:25%">
                <input matInput formControlName="endTime" type="time" placeholder="Bitiş Saati">
              </mat-form-field>
            </div>
          </div>

          <div class="form-row">
            <mat-form-field style="width:20%">
              <mat-select formControlName="peopleCount" placeholder="Kişi Sayısı">
                <mat-option *ngFor="let n of numbers" [value]="n">{{[n]}}</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-button-toggle-group formControlName="selector" style="max-height:36px" value="0">
              <mat-button-toggle value="0">Ar. Gör.</mat-button-toggle>
              <mat-button-toggle value="1">Dr.</mat-button-toggle>
              <mat-button-toggle value="2">Tümü</mat-button-toggle>
            </mat-button-toggle-group>
          </div>
        </div>
        <div style="width:45%; margin-left:40px">
          <div class="form-row">
            <mat-form-field  style="width:65%">
              <mat-select formControlName="selectedPerson" placeholder="Kişi seç">
                <mat-option *ngFor="let c of (available | selector:gorevForm.value.selector)" [value]="c"><span style="margin-right: 4px; padding: 0 5px; border-radius: 24px; background-color: #a7a7a7">{{c.load}}</span><span> {{c.fullname}}</span></mat-option>
              </mat-select>
            </mat-form-field>

            <button mat-button color="primary" (click)="addToChoosenPeople()" [disabled]="available.indexOf(gorevForm.value.selectedPerson) === -1">Ekle</button>
          </div>

          <div class="form-row">
            <b>Görevlendirilen kisiler:</b>
          </div>
          <div class="form-row">
            <mat-chip-list class="mat-chip-list-stacked">
              <mat-chip *ngFor="let c of choosenPeopleIds; let i=index"
                (removed)="removeFromChoosenPeople(i)" [value]="c">
                <mat-icon style="margin-left:0; margin-right:7px"
                  matChipRemove *ngIf="!gorevForm.disabled">
                  cancel
                </mat-icon>
                {{getPerson(c)}}
                <span style="margin-left: 4px; padding: 0 5px; border-radius: 24px; background-color: #a7a7a7">
                  {{c.load}}
                </span>
              </mat-chip>
            </mat-chip-list>
          </div>
        </div>
      </div>
      {{gorevForm.value | json }}<br><br>
      {{ gorev | json }}
    </mat-card-content>
  </div>
</mat-card>

