  <section [formGroup]="busyForm">
      <mat-form-field style="width:100%">
        <input matInput formControlName="title" placeholder="Başlık Ekle">
      </mat-form-field>

    <div class="form-row">

      <mat-form-field class="date-align" style="width:45%">
        <input matInput formControlName="startDate" (dateInput)="updateDay($event)" [matDatepicker]="startDate" placeholder="Başlangıç">
        <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
        <mat-datepicker #startDate></mat-datepicker>
      </mat-form-field>


      <mat-form-field class="date-align" style="width:45%">
        <input matInput formControlName="endDate" [matDatepicker]="endDate" placeholder="Bitiş">
        <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
        <mat-datepicker #endDate></mat-datepicker>
      </mat-form-field>

    </div>

    <div class="form-row">

      <mat-form-field style="width:45%">
        <input matInput formControlName="startTime" type="time">
      </mat-form-field>

      <mat-form-field style="width:45%">
        <input matInput formControlName="endTime" type="time">
      </mat-form-field>
    </div>

    <div class="form-row">

      <mat-form-field style="width:45%">
        <mat-select formControlName="recur" placeholder="Tekrar">
          <mat-option *ngFor="let rep of repeats; let i = index" [value]="tor[i]">{{[rep]}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="button-row">
      <mat-dialog-actions>
        <button mat-raised-button color="warn" (click)="onNoClick()">İptal</button>
        <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="!busyForm.valid">Kaydet</button>
      </mat-dialog-actions>
    </div>

  </section>
