  <div class="mat-elevation-z8" style="margin-bottom:16px">
    <mat-toolbar class="toolbar-child" color="primary">
        <h2 class="toolbar-header">{{title}}</h2>
    </mat-toolbar>
<!--
    <div class="table-header">
      <span matTooltip="Yeni Meşguliyet Ekle"><button class="add-button" mat-mini-fab color="primary" (click)="openDialog()"><mat-icon>library_add</mat-icon></button></span>
      <span class="fill-remaining-space"></span>
      <span matTooltip="Meşguliyetleri Düzenle"><button class="add-button" mat-mini-fab color="warn" (click)="toggleEdit()"><mat-icon>edit</mat-icon></button></span>
    </div>
 -->
      <table mat-table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef>Başlık</th>
          <td mat-cell *matCellDef="let row">{{row.title}}</td>
        </ng-container>

        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef>Tarih</th>
          <td mat-cell *matCellDef="let row">{{ row.startDate | date: 'dd MMMM EEEE':'':'tr' }}</td>
        </ng-container>

        <ng-container matColumnDef="time">
          <th mat-header-cell *matHeaderCellDef>Saat</th>
          <td mat-cell *matCellDef="let row">{{row.startDate | date: "HH:mm"}} - {{row.endDate | date: "HH:mm"}}</td>
        </ng-container>

        <ng-container matColumnDef="duration">
          <th mat-header-cell *matHeaderCellDef>Süre</th>
          <td mat-cell *matCellDef="let row">{{row.duration}}</td>
        </ng-container>

        <ng-container matColumnDef="weight">
          <th mat-header-cell *matHeaderCellDef>Ağırlık</th>
          <td mat-cell *matCellDef="let row">{{row.weight}}</td>
        </ng-container>

        <ng-container matColumnDef="expired">
          <th mat-header-cell *matHeaderCellDef>Durumu</th>
          <td mat-cell *matCellDef="let row; let i = index">{{ isExpired(row.endDate) ? 'Geçmiş' : 'Aktif' }}
          <span class="fill-remaining-space"></span>
          <button (click)="onClick(row)" mat-icon-button>
            <span matTooltip="Detaylar"><mat-icon>zoom_in</mat-icon></span>
          </button>
        </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>

      <mat-spinner diameter="50" *ngIf="!dataSource"></mat-spinner>

  </div>
