
<mat-card class="no-padding" style="margin-bottom:16px">
  <div class="mat-elevation-z8">
    <mat-toolbar class="toolbar-child" color="primary">
        <h2 class="toolbar-header">{{title}}</h2>
    </mat-toolbar>

    <div class="table-header">
      <span matTooltip="Yeni Meşguliyet Ekle"><button class="add-button" mat-mini-fab color="primary" (click)="openDialog()"><mat-icon>library_add</mat-icon></button></span>
      <span class="fill-remaining-space"></span>
      <span matTooltip="Meşguliyetleri Düzenle"><button class="add-button" mat-mini-fab color="warn" (click)="toggleEdit()"><mat-icon>edit</mat-icon></button></span>
    </div>

      <mat-table #table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="title">
          <mat-header-cell *matHeaderCellDef>Başlık</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.title}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="date">
          <mat-header-cell *matHeaderCellDef>Tarih</mat-header-cell>
          <mat-cell *matCellDef="let row">{{ row.startDate | date: 'dd.MM.yyyy' }} - {{ row.endDate | date: 'dd.MM.yyyy' }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="time">
          <mat-header-cell *matHeaderCellDef>Saat</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.startDate | date: "HH:mm"}} - {{row.endDate | date: "HH:mm"}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="recur">
          <mat-header-cell *matHeaderCellDef>Tekrar</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.recur ? (row.recur == 1 ? 'Günlük' : 'Her ' + (row.startDate | date: 'EEEE': '': 'tr')) : '-'}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="expired">
          <mat-header-cell *matHeaderCellDef>Durumu</mat-header-cell>
          <mat-cell *matCellDef="let row; let i = index">{{ isExpired(row.endDate) ? 'Süresi Geçmiş' : 'Aktif' }}
            <span class="fill-remaining-space"></span>
            <button *ngIf="showdelete" (click)="onDelete(row, i)" mat-icon-button color="warn">
              <mat-icon aria-label="delete">cancel</mat-icon>
            </button>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      </mat-table>

  </div>
</mat-card>