<mat-spinner *ngIf="!dataSource"></mat-spinner>

<mat-card *ngIf="dataSource" class="no-padding">
  <div class="mat-elevation-z8">
    <mat-toolbar color="primary">
      <mat-toolbar-row>
      <mat-icon>group</mat-icon>  <h2 style="padding-left:5px;">{{title}}</h2>
      </mat-toolbar-row>
    </mat-toolbar>

    <div class="table-header">
      <mat-form-field style="width:50%">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Ara">
      </mat-form-field>
      <span class="fill-remaining-space"></span>
      <span matTooltip="Yeni Kişi Ekle"><button class="add-button" mat-fab color="warn" (click)="openDialog()"><mat-icon>person_add</mat-icon></button></span>
    </div>

    <!-- <div *ngIf="dataSource.loading$ | async">
        <mat-spinner></mat-spinner>
    </div> -->

    <mat-table #table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="no">
        <mat-header-cell *matHeaderCellDef>No.</mat-header-cell>
        <mat-cell *matCellDef="let row; let i = index">{{i+1}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="fullname">
        <mat-header-cell *matHeaderCellDef mat-sort-header>İsim</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.fullname}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef mat-sort-header>E-posta</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.email + "@gtu.edu.tr"}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="position">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Kadro</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.position}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="office">
        <mat-header-cell *matHeaderCellDef>Ofis</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.office}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="phone">
        <mat-header-cell *matHeaderCellDef>Dahili</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.phone}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="load">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Yük</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.load}}</mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row style="cursor:pointer;" *matRowDef="let row; columns: displayedColumns" (click)="goToPerson(row)"></mat-row>
    </mat-table>

    <mat-paginator #paginator
      [pageSize]="50"
      [pageSizeOptions]="[10, 25, 50]">
    </mat-paginator>
  </div>
</mat-card>
