  <header>
    <h2>Kişi Listesi <span class="badge">{{kadro?.length}}</span></h2>
  </header>

  <section class="row midbar-custom">
    <div class="col-lg-6">
      <form class="input-group">
        <input type="text" class="form-control" placeholder="Search">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
        </span>
      </form>
    </div>
    <div class="col-lg-6">
      <button type="button" class="btn btn-success navbar-right navbar-right-custom" routerLink="/kisiekle"><span class="glyphicon glyphicon-plus"></span> Yeni Kişi Ekle</button>
    </div>
  </section>

  <table class="table table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>Isim</th>
        <th>E-mail</th>
        <th>Oda #</th>
        <th>Dahili</th>
        <th>Cep</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let k of kadro; let i = index">
        <td>{{i + 1}}</td>
        <td>{{k.fullname}}</td>
        <td>{{k.email}}</td>
        <td>{{k.office}}</td>
        <td>{{k.phone}}</td>
        <td>{{k.mobile}}</td>
        <td>
          <input type="button" class="btn btn-default pull-right" name="details" value="Detaylar" role="button" routerLink="/kadro/{{k.username}}" />
        </td>
      </tr>
    </tbody>
  </table>
