.modal {
  background: rgba(0,0,0,0.6);
}

.modal-dialog{
  overflow-y: initial !important;
  overflow-y: scroll;
  margin-top: 20px;
  margin-bottom:20px;
}

.modal-body{
  height: 300px;
  overflow-y: auto;
}

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}
