.modal {
  background: rgba(0,0,0,0.6);
}

.modal-dialog{
  overflow-y: initial !important;
  overflow-y: scroll;
  max-height:85%;
  margin-top: 20px;
  margin-bottom:20px;
}

.modal-body{
  height: 300px;
  overflow-y: auto;
}